@page "/"

<div class="text-center" style="font-family: 'Maven Pro', sans-serif">
 <h1>Portal, Gestão de usuario cliente!</h1>

</div>
<div style='margin-top:20px'>
 Painel de controle do usuario cliente.

</div>

<SurveyPrompt Title=" How is Blazor working for you?" />
